[defaults]
sudo_user      = dave
# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
remote_user = dave
# https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user
become_user=root
# port and username (empty string in the config). The hash mitigates a common problem users 
# private keys to be uploaded to it, though each user must
# the default behaviour that copies the existing context or uses the user default

inventory      = /etc/ansible/hosts
